= form_tag businesses_path, :method => :get do
    = radio_button_tag(:dist, "1")
    = label_tag(:dist_1, "1 mile")
    = radio_button_tag(:dist, "5")
    = label_tag(:dist_5, "5 miles")
    = radio_button_tag(:dist, "10")
    = label_tag(:dist_10, "10 miles")
    = radio_button_tag(:dist, "20")
    = label_tag(:dist_20, "20 miles")
    = submit_tag 'Refresh', :id => 'dist_sub'
%table
    %tr
        %th= link_to "Business", businesses_path(:sort => 'name')
        %th= link_to "Dist.", businesses_path(:sort => 'dist')
        %th= link_to "Rating", businesses_path(:sort => 'rating')

    - @bus.each do |b|
        %tr
            %th= link_to b.name, business_path(b.id)
            %th  #{Distance.find_by(user_id: @u["id"], business_id: b.id).dist.round(2)}
            %th  #{b.average.round(2)}