%h2 #{@bus.name}

-# @bus.reviews.where(:create_date => ((Date.today - 120).beginning_of_day)..((Date.today).end_of_day)).inspect
-# @bus.reviews.count.inspect

-unless @bus.average.nil?
    %p #{@bus.name} has an overall average rating of #{@bus.average.round(2)} stars
%p #{@bus.reviews.count} people have left a review on your business' page!

%p #{@message_week}
%p #{@bus.get_rev_count(Date.today - 7, Date.today)} people reviewed in the last 7 days
%p #{@bus.get_rev_count(Date.today - 14, Date.today - 7)} people reviewed the week before that

%p #{@message_month}
%p #{@bus.get_rev_count(Date.today - 30, Date.today)} people reviewed in the last 30 days
%p #{@bus.get_rev_count(Date.today - 60, Date.today - 30)} people reviewed the month before that

-if ! @rate[0].nil?
    %p #{@bus.name} is ##{@rate[0]} of #{@rate[1]} businesses in the area

-@rt.each do |r|
    %p #{@bus.name} is ranked #{r[0]} of #{pluralize(r[1], r[2])} in the area 

%center
    %h3 Amount of reviews for each rating
= bar_chart @bus.reviews.group(:stars).count, colors:["#D45500"], label: "Number of Reviews"

