

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @reviews.each do |rev| %>
  <big>
    <strong>
      <%= link_to "#{rev.business.name}", business_path(rev.business) %>:
    </strong>
    <%= rev.create_date.strftime("%m/%d/%Y") %>
  </big>
  <% for star in 1..rev.stars.to_i %>
    <img src="/Star-.svg.png", style = "width:20px">
  <% end %>
  <%unless rev.description.blank? %>
    <br />
    <%= rev.description %>
  <% end %>
  <br />
  <br />
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
